title: "SIGN"
description: "Короткие истории.."
lang: ru
timezone: Europe/Moscow

# вместо theme: minima
theme: minima

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

paginate: 10
paginate_path: /page:num/

collections:
  stories:
    output: true
    permalink: /stories/:path/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: stories
    values:
      layout: post
  - scope:
      path: ""
      type: pages
    values:
      layout: page
