@import "minima";

html, body {
  background-color: #0f1115;
  color: #d7dde7;
}

.site-header,
.site-footer,
.page-content {
  background-color: #0f1115;
}

.site-header,
.site-footer {
  border-color: #252a33;
}

a {
  color: #8ab4f8;
}

a:visited {
  color: #b39ddb;
}

.post-meta {
  color: #9aa4b2;
}

blockquote {
  color: #b8c0cc;
  border-left-color: #3b4250;
}

.story-content-sm {
  font-size: 0.95rem;
  line-height: 1.6;
}

.story-content-sm p,
.story-content-sm li,
.story-content-sm blockquote {
  font-size: 1em;
}

/* Make content area wider and side gutters smaller than Minima defaults */
.wrapper {
  max-width: calc(980px - (20px * 2));
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(980px - (16px * 2));
    padding-left: 16px;
    padding-right: 16px;
  }
}
